{% extends 'base.html' %}

{% block content %}
<div class="mt-4 d-flex justify-content-center">
  <div>
    <h1 class="fw-bold text-center">CHANGE PASSWORD</h1>
    <div class="ms-5 mt-5">
    <form action="{% url 'accounts:change_password' %}" method='POST'>
      {% csrf_token %}
      {{  form.as_p }}
      <br>
      <button style="margin-left: 10rem;" class="btn btn-primary">수정</button>
    </form>
    </div>
  </div>
</div>
{% endblock content %}


{% comment %} {% extends 'base.html' %}

{% block content %}
<div class="mt-4 d-flex justify-content-center">
  <div>
    <h1 class="fw-bold text-center">CHANGE PASSWORD</h1>
    <div class="ms-5">
    <form class="ms-3" action="" method='POST'>
      {% csrf_token %}
      <div class="mt-5 mb-4">
        <span>기존 비밀번호: </span>
        {{ form.old_password }}
      </div>
      <br>
      <div class="mb-4">
        <span>신규 비밀번호: </span>
        {{ form.new_password1 }}
      </div>
      <ul class="my-2">
        <li class="mb-1"><p class="m-0">다른 개인 정보와 유사한 비밀번호를 사용할 수 없습니다.</p></li>
        <li class="mb-1"><p class="m-0">통상적으로 자주 사용되는 비밀번호를 사용할 수 없습니다.</p></li>
        <li class="mb-1"><p class="m-0">숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</p></li>
        <li class="mb-1"><p class="m-0">비밀번호는 최소 8자 이상이어야 합니다.</p></li>
      </ul>
      <br>
      <div class="mb-4">
        <span>신규 비밀번호 (확인): </span>
        {{ form.new_password2 }}
      </div>
      <br>
      <button style="margin-left: 10rem;" class="btn btn-primary">수정</button>
    </form>
    </div>
  </div>
</div>
{% endblock content %} {% endcomment %}


{% comment %} {% extends 'base.html' %}

{% block content %}
  <h1>비밀번호 변경</h1>
  <form action="" method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
  </form>
{% endblock content %} {% endcomment %}