{% extends 'base.html' %}

{% block content %}
  <h1 class="fw-bold text-center my-3">DETAIL</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">만든 날짜</th>
        <th scope="col">수정 날짜</th>
        <th scope="col">이미지</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center" scope="row">{{ article.pk }}</th>
        <td>{{ article.title }}</td>
        <td>{{ article.content }}</td>
        <td>{{ article.created_at }}</td>
        <td>{{ article.updated_at }}</td>
        <td><img style="width: 200px;
  height: 200px;" src="{{ article.img_path }}" alt="img"/></td>
      </tr>
    </tbody>
  </table>
  <div class="d-inline-flex">
    <input class="me-3" type="button" value="수정" onclick="location.href='{% url 'articles:edit' article.pk %}'">
    <form class="me-2" action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input class="me-2" type="button" value="삭제">
    </form>
    <input type="button" value="처음" onclick="location.href='{% url 'articles:home' %}'">
  </div>
{% endblock %}