{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;" class="mt-4">
  <h1 class="fw-bold mb-4">UPDATE</h1>
  <form enctype="multipart/form-data" action="{% url 'articles:update' article.pk %}" method="POST">
    {% csrf_token %}
    <div>
      <p class="mb-2">제목</p>
      {{ form.title }}
    </div>
    <br>
    <div>
      <p class="mb-2">내용</p>
      {{ form.content }}
    </div>
    <br>
    <div class="ms-5">
      {{ form.image }}
    </div>
    <div class="position-absolute end-50 mt-4">
      <button class="btn btn-primary me-4">등록</button>
    </div>
  </form>
  <a class="position-absolute mt-4" href="{% url 'articles:detail' article.pk %}"><button class="btn btn-dark">BACK</button></a>
</div>
{% endblock content %}
